[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"zest.releaser" = "*"

[packages]
cookiecutter-python-template = {editable = true, path = "."}

[requires]
python_version = "3"
