{% raw -%}name: Test

# Run on PR requests. And on master itself.
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  TestLinux:
    name: Linux, Python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        id: buildx        
        uses: docker/setup-buildx-action@master

      - name: Build and push images
        uses: docker/build-push-action@v4
        with:
          push: false
          load: true
          tags: {% endraw -%}{{ cookiecutter.package_name }}{% raw -%}/web:latest
          file: ./Dockerfile
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=min
          
      - name: Unittests
        run: docker-compose run --no-deps web pytest -p no:cacheprovider src
      
      - name: Start databases
        run: docker-compose up -d db

      - name: Integration tests
        run: docker-compose run web pytest -p no:cacheprovider integration_test


{% endraw -%}